:root {
  --color-black: rgb(0, 0, 0);
  --color-blue: rgb(155, 157, 248);
  --color-blue-light: rgb(128, 184, 249);
  --color-brown: rgb(154, 95, 32);
  --color-brown-light: rgb(248, 211, 205);
  --color-green: rgb(75, 154, 44);
  --color-green-dark: rgb(121, 121, 36);
  --color-green-light: rgb(164, 216, 67);
  --color-transparent: rgba(0, 0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-yellow-dark: rgb(227, 169, 76);
}

body {
  align-items: center;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  height: 100dvh;
  margin: 0;
  width: 100dvw;
}
